<ion-toolbar color="primary">
  <ion-title>
    {{ title }}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button
      shape="round"
      fill="outline"
      color="light"
      (click)="login()"
      *ngIf="!logged"
      >Login</ion-button
    >
  </ion-buttons>
  <span *ngIf="logged">
    {{ getProfile().name }}
    <img [src]="getProfile().picture" width="40" />
    <!-- <ion-button shape="round" fill="outline" color="light" (click)="logout()"
        >Logout</ion-button
      > -->
  </span>
</ion-toolbar>
