<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ title }}
    </ion-title>
    <span *ngIf="isAuthenticated()">
      Logged is as: <img [src]="getProfile().picture" width="40" />
      {{ getProfile().name }}
    </span>
    <ion-buttons slot="end">
      <ion-button
        shape="round"
        fill="outline"
        color="light"
        (click)="login()"
        *ngIf="!isAuthenticated()"
        >Login</ion-button
      >
      <ion-button
        shape="round"
        fill="outline"
        color="light"
        (click)="logout()"
        *ngIf="isAuthenticated()"
        >Logout</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
