.Firstrow {
  background: grey;
  border: 0.5px solid transparent;
  //padding-top: 0.5em;
  //padding-bottom: 0.5em;
  //margin: 1em 0;
  //padding-left: 1em;
}
.row {
  background: rgb(241, 213, 213);
  border: 2px solid transparent;
  // padding-top: 0.5em;
  //padding-bottom: 0.5em;
  //margin: 1em 0;
}
.title {
  margin-left: 1px;
}
