<ion-grid>
  <ion-row justify-content-start class="Firstrow">
    <ion-col style="text-align: center">
      <ion-label>
        {{ firstColumnTitle }}
      </ion-label>
    </ion-col>
    <ion-col style="text-align: center">
      <ion-label> {{ secondColumnTitle }}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row
    *ngFor="let firstColumn of firstColumnData; let odd = odd; let i = index"
    [class]="odd ? 'odd' : 'even'"
  >
    <ion-col style="text-align: center">
      {{ firstColumn }}
    </ion-col>
    <ion-col style="text-align: center">
      {{ secondColumnData[i] }}
    </ion-col>
  </ion-row>
</ion-grid>
