.Firstrow {
  background: #150578;
  border: 0.5px solid transparent;
  color: white;
}

ion-grid {
  background-color: rgba(0, 0, 0, 0);
}
.even {
  background: #4547ef;
  color: white;
}
.odd {
  background: #87bfff;
}

.title {
  margin-left: 1px;
}
