<ion-grid>
  <ion-row justify-content-start class="Firstrow">
    <ion-col style="text-align: center" *ngFor="let title of titles">
      <ion-label>
        {{ title }}
      </ion-label>
    </ion-col>
  </ion-row>
  <!--
    *ngFor="let firstColumn of firstColumnData; let odd = odd; let i = index"
    -->
  <ion-row
    *ngFor="let row of rows; let odd = odd; let i = index"
    [class]="odd ? 'odd' : 'even'"
  >
    <ion-col *ngFor="let col of row" style="text-align: center">
      {{ col }}</ion-col
    >
  </ion-row>
</ion-grid>
