<ion-header>
  <ion-toolbar>
    <ion-chip> </ion-chip>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="dark">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-row>
    <ion-col>
      <ion-label> Start Date</ion-label>
      <ion-datetime
        displayFormat="MMMM DD YYYY"
        placeholder="Select Date"
        [(ngModel)]="startDate"
        (ionChange)="dateChanged($event)"
      ></ion-datetime>
    </ion-col>
    <ion-col>
      <ion-label> End Date</ion-label>
      <ion-datetime
        displayFormat="MMMM DD YYYY"
        placeholder="Select Date"
        [(ngModel)]="endDate"
        [min]="startDate"
        (ionChange)="dateChanged($event)"
      ></ion-datetime>
    </ion-col>
  </ion-row>
  <section>
    <app-chart [preparations]="preparations"></app-chart>
    <app-table
      first-column-title="Date"
      second-column-title="Number of Preparations"
      [first-column-data]="getDates()"
      [second-column-data]="getPrepNumbers()"
    ></app-table>
  </section>
</ion-content>
