<app-header [title]="type"> </app-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-label> Start Date</ion-label>
      <ion-datetime
        displayFormat="MMMM DD YYYY"
        placeholder="Select Date"
        [(ngModel)]="startDate"
        (ionChange)="dateChanged($event)"
      ></ion-datetime>
    </ion-col>
    <ion-col>
      <ion-label> End Date</ion-label>
      <ion-datetime
        displayFormat="MMMM DD YYYY"
        placeholder="Select Date"
        [(ngModel)]="endDate"
        [min]="startDate"
        (ionChange)="dateChanged($event)"
      ></ion-datetime>
    </ion-col>
  </ion-row>
  <section>
    <app-chart [preparations]="preparations"></app-chart>
    <app-table [preparations]="preparations"></app-table>
  </section>
</ion-content>
