<app-header title="Unauthorized User"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header
      ><ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <img
            src="../../../assets/unauthorized.png"
            style="
              align-self: center;"
          />
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <ion-title color="dark">{{ getProfile().given_name }}</ion-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      It seems you haven't any hospital associated with your account.<br />
      Please contact administrators for more info and show them the code
      below:<br />
      <ion-title color="dark"
        ><strong>{{ getProfile().sub }}</strong></ion-title
      >
    </ion-card-content>
  </ion-card>
</ion-content>
