// .setting {
//   margin: auto;
//   background: #7faeff;
//   color: white;
//   padding: 5px;
//   border-radius: 29px 29px 29px 29px;
//   -moz-border-radius: 29px 29px 29px 29px;
//   -webkit-border-radius: 29px 29px 29px 29px;
// }
