<app-header></app-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let hospital of HospitalsMock">
      <ion-card-header>
        <ion-chip color="light" slot="end">
          <ion-label>{{ getProfile().name }}</ion-label>
          <ion-avatar>
            <img [src]="getProfile().picture" />
          </ion-avatar>
        </ion-chip>
        <ion-card-title> {{ hospital.name }}</ion-card-title>
        <ion-card-subtitle>Activity Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
